<h1>Карты</h1>
<% unless flash[:error].nil? %>
<p id="error_explanation"><%= flash[:error] %></p>
<% end %>
<%= link_to 'Новая карта', if @client_type_for_new == 2 then new_card_path+'\2' else new_card_path+'\1' end %>
<table>
  <tr>
    <th>Номер</th>
	<th>Тип</th>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Отчество</th>
	<th>Долг</th>
    <th></th>
    <th></th>
  </tr>

<% @cards.each do |card| %>
  <tr>
    <td><%= link_to card.cardno, card %></td>
	<td><%= card.show_type %></td>
    <td><%= card.lastname %></td>
    <td><%= card.name %></td>
    <td><%= card.surname %></td>
	<td><%= card.get_debt %></td>
    <td><%= link_to 'Изменить', edit_card_path(card) %></td>
    <td><%= link_to 'Удалить', card, :confirm => 'Вы уверены?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новая карта', if @client_type_for_new == 2 then new_card_path+'\2' else new_card_path+'\1' end %>
